include ./includes/_slide

doctype html
html(lang="en")
  include ./includes/_head
  body
    .reveal
      .slides
        +group('1/Intro')
          +slide("Pragmatic Site Building")
            hr
            h2 With Panels
          +slide("Chris Albrecht")
            hr
            p chris@lullabot.com
            p @ChrisAlbrecht
            p drupal.org/u/KeyboardCowboy

        +group('2/Local Install')
          +slide("Local Server")
            ul
              li MAMP
              li XAMPP
          +slide("Create a DB")
          +slide("Download & Install Drupal")

        +group('3/Modules')
          +slide("Drush")
            ul
              li Composer
              li https://github.com/drush-ops/drush/releases
          +slide('Admin Menu')
            pre
              code(data-trim)
                $ drush dl admin_menu
                $ drush en admin_menu
          +slide('KC Panels Demo')
            pre
              code(data-trim)
                $ drush dl kcpd
                $ drush en kcpd

        +group('4/Planning')
          +slide('Content Discovery')
          +slide('Design Discovery')
          +slide('Architecture')
            ul.fragment
              li Pages
              li Content Types
              li Components
              li Blocks
              li Fields
          +slide('Create a Page')
            ul.fragment
              li Node View
              li Views Page Display
              li Panels Page
              li Custom Menu Callback


      footer#preso-footer
        span Powered by Lullabot

  include ./includes/_closing
