include ./includes/_slide

doctype html
html(lang="en")
  include ./includes/_head
  body
    .reveal
      .slides
        section
          +header("Intro")
          +slide("Pragmatic Site Building")
            hr
            h2 With Panels
          +slide("Chris Albrecht")
            hr
            p chris@lullabot.com
            p @ChrisAlbrecht
            p drupal.org/u/KeyboardCowboy

        section
          +header("Section 2")
          +slide("Slide 2.1")
          +slide("Slide 2.2")


      footer#preso-footer
        span Powered by Lullabot

  include ./includes/_closing
